[Desktop Entry]
Encoding=UTF-8
Name=New Login
Name[af]=Nuwe aanmelding
Name[ar]=ولوج جديد
Name[as]=নতুন প্ৰৱেশ
Name[az]=Yeni Giriş
Name[be]=Новы ўваход
Name[bg]=Ново влизане
Name[bn]=নতুন লগ-ইন
Name[bn_IN]=নতুন লগ-ইন
Name[bs]=Nova prijava
Name[ca]=Entrada nova
Name[cs]=Nové přihlášení
Name[cy]=Mewngofnodiad Newydd
Name[da]=Nyt logind
Name[de]=Neu anmelden
Name[dz]=ནང་བསྐྱོད་གསརཔ།
Name[el]=Νέα Είσοδος
Name[en_CA]=New Login
Name[en_GB]=New Login
Name[es]=Pantalla de entrada nueva
Name[et]=Uus seanss
Name[eu]=Saio-hasiera berria
Name[fa]=ورود جدید به سیستم
Name[fi]=Uusi kirjautuminen
Name[fr]=Nouvelle connexion
Name[ga]=Logáil Isteach Nua
Name[gl]=Nova sesión
Name[gu]=નવો પ્રવેશ
Name[he]=חיבור חדש
Name[hi]=नया लॉगइन
Name[hr]=Nova prijava
Name[hu]=Új bejelentkezés
Name[hy]=Նոր մուտք
Name[id]=Login Baru
Name[it]=Nuovo accesso
Name[ja]=新しいログイン
Name[ka]=ახალი შესვლა
Name[kn]=ಹೊಸ ದಾಖಲಾತಿ
Name[ko]=새로 로그인
Name[ku]=Têketina Nû
Name[lt]=Naujas prisijungimas
Name[lv]=Jauna pieslēgšanās
Name[mg]=Fidirana vaovao
Name[mk]=Ново најавување
Name[ml]=പുയിയ ലോഗിന്‍
Name[mn]=Шинэ нэвтрэлт
Name[mr]=नविन प्रवेश
Name[ms]=Logmasuk baru
Name[nb]=Ny innlogging
Name[ne]=नयाँ लगइन
Name[nl]=Nieuwe aanmelding
Name[nn]=Ny innlogging
Name[nso]=Go Tsena go go Swa
Name[oc]=Connection novèla
Name[or]=ନୂତନ ଲଗଇନ୍
Name[pa]=ਨਵਾਂ ਲਾਗਇਨ
Name[pl]=Nowy login
Name[pt]=Nova Sessão
Name[pt_BR]=Nova Sessão
Name[ro]=Autentificare nouă
Name[ru]=Новый сеанс
Name[si]=නව පිවිසුම
Name[sk]=Nové prihlásenie
Name[sl]=Nova prijava
Name[sq]=Login i Ri
Name[sr]=Нова пријава
Name[sr@Latn]=Nova prijava
Name[sv]=Ny inloggning
Name[ta]=புதிய உள்நுழைவு
Name[te]=కొత్త ప్రవేశద్వారం
Name[th]=การเข้าระบบใหม่
Name[tr]=Yeni Giriş
Name[uk]=Новий сеанс
Name[vi]=Đăng nhập mới
Name[wa]=Novea elodjaedje
Name[xh]=Ungeno Olutsha
Name[zh_CN]=新登录
Name[zh_HK]=以新身分登入
Name[zh_TW]=以新身分登入
Name[zu]=Umngenisi omusha
GenericName=New Login
GenericName[af]=Nuwe aanmelding
GenericName[ar]=ولوج جديد
GenericName[as]=নতুন প্ৰৱেশ
GenericName[az]=Yeni Giriş
GenericName[be]=Новы ўваход
GenericName[bg]=Ново влизане
GenericName[bn]=নতুন লগ-ইন
GenericName[bn_IN]=নতুন লগ-ইন
GenericName[bs]=Nova prijava
GenericName[ca]=Entrada nova
GenericName[cs]=Nové přihlášení
GenericName[cy]=Mewngofnodiad Newydd
GenericName[da]=Nyt logind
GenericName[de]=Neu anmelden
GenericName[dz]=ནང་བསྐྱོད་གསརཔ།
GenericName[el]=Νέα Είσοδος
GenericName[en_CA]=New Login
GenericName[en_GB]=New Login
GenericName[es]=Pantalla de entrada nueva
GenericName[et]=Uus seanss
GenericName[eu]=Saio-hasiera berria
GenericName[fa]=ورود جدید به سیستم
GenericName[fi]=Uusi kirjautuminen
GenericName[fr]=Nouvelle connexion
GenericName[ga]=Logáil Isteach Nua
GenericName[gl]=Nova sesión
GenericName[gu]=નવો પ્રવેશ
GenericName[he]=חיבור חדש
GenericName[hi]=नया लॉगइन
GenericName[hr]=Nova prijava
GenericName[hu]=Új bejelentkezés
GenericName[hy]=Նոր մուտք
GenericName[id]=Login Baru
GenericName[it]=Nuovo accesso
GenericName[ja]=新しいログイン
GenericName[ka]=ახალი შესვლა
GenericName[kn]=ಹೊಸ ದಾಖಲಾತಿ
GenericName[ko]=새로 로그인
GenericName[ku]=Têketina Nû
GenericName[lt]=Naujas prisijungimas
GenericName[lv]=Jauna pieslēgšanās
GenericName[mg]=Fidirana vaovao
GenericName[mk]=Ново најавување
GenericName[ml]=പുയിയ ലോഗിന്‍
GenericName[mn]=Шинэ нэвтрэлт
GenericName[mr]=नविन प्रवेश
GenericName[ms]=Logmasuk baru
GenericName[nb]=Ny innlogging
GenericName[ne]=नयाँ लगइन
GenericName[nl]=Nieuwe aanmelding
GenericName[nn]=Ny innlogging
GenericName[nso]=Go Tsena go go Swa
GenericName[oc]=Connection novèla
GenericName[or]=ନୂତନ ଲଗଇନ୍
GenericName[pa]=ਨਵਾਂ ਲਾਗਇਨ
GenericName[pl]=Nowy login
GenericName[pt]=Nova Sessão
GenericName[pt_BR]=Nova Sessão
GenericName[ro]=Autentificare nouă
GenericName[ru]=Новый сеанс
GenericName[si]=නව පිවිසුම
GenericName[sk]=Nové prihlásenie
GenericName[sl]=Nova prijava
GenericName[sq]=Login i Ri
GenericName[sr]=Нова пријава
GenericName[sr@Latn]=Nova prijava
GenericName[sv]=Ny inloggning
GenericName[ta]=புதிய உள்நுழைவு
GenericName[te]=కొత్త ప్రవేశద్వారం
GenericName[th]=การเข้าระบบใหม่
GenericName[tr]=Yeni Giriş
GenericName[uk]=Новий сеанс
GenericName[vi]=Đăng nhập mới
GenericName[wa]=Novea elodjaedje
GenericName[xh]=Ungeno Olutsha
GenericName[zh_CN]=新登录
GenericName[zh_HK]=以新身分登入
GenericName[zh_TW]=以新身分登入
GenericName[zu]=Umngenisi omusha
Comment=Log in as another user without logging out
Comment[af]=Meld aan as 'n ander gebruiker sonder om eers af te meld
Comment[ar]=لُجْ كمستخدم آخر دون الخروج
Comment[as]=লগ-আউট না কৰে পৃথক ব্যবহাৰকাৰীৰূপে প্ৰৱেশ কৰক
Comment[az]=Sistemdən çıxmadan yeni istifadəçi olaraq girin
Comment[be]=Увайсьці ў новы сэанс у якасьці іншага карыстальніка бяз выхаду з бягучага сэанса
Comment[bg]=Влизане като друг потребител без излизане от системата
Comment[bn]=লগ-আউট না করে পৃথক ব্যবহারকারীরূপে লগ-ইন করুন
Comment[bn_IN]=লগ-আউট না করে পৃথক ব্যবহারকারীরূপে লগ-ইন করুন
Comment[bs]=Prijavi se kao drugi korisnik bez odjavljivanja
Comment[ca]=Entreu com a un altre usuari sense sortir
Comment[cs]=Přihlásit se jako jiný uživatel bez odhlášení
Comment[cy]=Mewngofnodi fel defnyddiwr arall heb allgofnodi
Comment[da]=Log ind som en anden bruger uden at logge ud
Comment[de]=Neu anmelden, ohne sich abzumelden
Comment[dz]=ཕྱིར་བསྐྱོད་མ་འབད་བར་ ལག་ལེན་པ་གཞན་ཅིག་བཟུམ་སྦེ་ ནང་བསྐྱོད་འབད།
Comment[el]=Είσοδος ως άλλος χρήστης χωρίς να αποσυνδεθείτε
Comment[en_CA]=Log in as another user without logging out
Comment[en_GB]=Log in as another user without logging out
Comment[es]=Entre como otro usuario sin salir
Comment[et]=Teise kasutaja alt sisselogimine ilma väljalogimata
Comment[eu]=Saioan beste erabiltzaile baten moduan sartu, saioa utzi gabe
Comment[fa]=ورود به سیستم به‌عنوان یک کاربر دیگر بدون خروج از سیستم
Comment[fi]=Kirjaudu sisään toisena käyttäjänä ilman uloskirjautumista
Comment[fr]=Se connecter sous une autre identité sans se déconnecter de la session en cours
Comment[gl]=Iniciar unha sesión como outro usuario sen saír da sesión actual
Comment[gu]=બહાર નીકળ્યા વગર બીજા વપરાશકર્તા તરીકે પ્રવેશ કરો
Comment[he]=התחבר עם שם משתמש אחר מבלי להתנתק
Comment[hi]=बिना लॉगआउट हुए अन्य उपयोक्ता के रूप में लॉगइन करें
Comment[hr]=Prijavi se kao drugi korisnik bez odjavljivanja
Comment[hu]=Bejelentkezés más felhasználó nevében kilépés nélkül
Comment[id]=Login sebagai pengguna lain tanpa logout
Comment[it]=Effettua un nuovo accesso senza chiudere la sessione corrente
Comment[ja]=ログアウトせずに別のユーザでログインします
Comment[kn]=ಹೊರಗೆ ನಿರ್ಗಮಿಸದೆ, ಬೇರೊಂದು ಬಳಕೆದಾರನಾಗಿ ಪ್ರವೇಶಿಸು
Comment[ko]=로그아웃하지 않고 다른 사용자로 로그인 합니다
Comment[lt]=Neatsijungus prisijungti kitu naudotoju
Comment[lv]=Pieteikties kā citam lietotājam bez attiekšanās
Comment[mg]=Avy dia hiditra amin'ny anaran'ny mpampiasa hafa fa tsy mila mivoaka aloha
Comment[mk]=Најави се како друг корисник без да се одјавиш
Comment[ml]=ലോഗ് ഔട്ട് ചെയ്യാതെ മറ്റൊരു ഉപയോക്താവായി ലോഗിന്‍ ചെയ്യുക
Comment[mn]=Өөрөө гаралгүйгээр өөр нэрээр нэвтрэх
Comment[mr]=बाहेर न पडता अन्य एक उपयोग कर्ता म्हणून प्रवेश करा
Comment[ms]=Log masuk sebagai pengguna lain tanpa log keluar
Comment[nb]=Logg inn som en annen bruker uten å logge ut
Comment[ne]=लगआउट नगरीकन अर्को प्रयोगकर्ताको रूपमा लगइन गर्नुहोस्
Comment[nl]=Aanmelden als andere gebruiker zonder eerst af te melden
Comment[nn]=Logg inn som ein anna brukar utan å logga ut
Comment[nso]=Tsena bjalo ka modiriši yo mongwe ka ntle le go tšwa
Comment[or]=ଲଗଆଉଟ ନକରି ଅନ୍ଯାନ୍ଯ ଚାଳକ ଭାବରେ ଲଗଇନ କରନ୍ତୁ
Comment[pa]=ਲਾਗ-ਆਉਟ ਤੋਂ ਬਗੈਰ ਯੂਜ਼ਰ ਦੇ ਤੌਰ ਵਾਂਗ ਲਾਗਇਨ ਕਰੋ
Comment[pl]=Logowanie jako inny użytkownik bez wylogowania się
Comment[pt]=Iniciar sessão como outro utilizador sem terminar a actual
Comment[pt_BR]=Iniciar um nova sessão como um outro usuário sem sair da sessão atual
Comment[ro]=Autentificare cu un nou cont fără ieșire din sesiune
Comment[ru]=Окно начала нового сеанса в качестве другого пользователя без завершения старого сеанса
Comment[sk]=Prihlásiť sa ako iný používateľ, bez odhlásenia
Comment[sl]=Prijavi se kot drug uporabnik, brez da bi se odjavil
Comment[sq]=Kryej një log in të ri pa mbyllur seancën aktuale
Comment[sr]=Пријави се као други корисник без одјављивања
Comment[sr@Latn]=Prijavi se kao drugi korisnik bez odjavljivanja
Comment[sv]=Logga in som en annan användare utan att logga ut
Comment[ta]=வெளியேறாமல் வேறொரு பயனராக உள்நுழை
Comment[te]=ప్రవేశద్వారం బయటకి వెళ్ళకుండా మరియొక వినియోగదారు లాగా లోపలికి నమోదవు
Comment[th]=เข้าระบบเป็นผู้ใช้อื่นโดยไม่ได้ออกจากระบบ
Comment[tr]=Çıkış yapmadan başka bir kullanıcıyla giriş yap
Comment[uk]=Вікно початку нового сеансу в якості іншого користувача без завершення старого сеансу
Comment[vi]=Đăng nhập với tên người dùng khác mà không cần đăng xuất.
Comment[wa]=S' elodjî come èn ôte uzeu sins s' dislodjî
Comment[xh]=Ngena njengomnye umsebenzisi ngaphandle kokuba uphume
Comment[zh_CN]=以其他用户登录但不注销
Comment[zh_HK]=在不登出的情況下以另一位使用者的身分登入
Comment[zh_TW]=在不登出的情況下以另一位使用者的身分登入
Comment[zu]=Ngena njengomunye umsebenzisi ngaphandle komngenisi -phuma
Exec=mdmflexiserver
Icon=mdmflexiserver
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=mdm
X-GNOME-Bugzilla-Component=general
