[Desktop Entry]
Encoding=UTF-8
Name=New Login in a Window
Name[ar]=ولوج جديد في نافذة
Name[bg]=Ново влизане в прозорец
Name[bn]=উইন্ডোর মধ্যে নতুন লগ-ইন
Name[bn_IN]=উইন্ডোর মধ্যে নতুন লগ-ইন
Name[ca]=Nova entrada a una finestra
Name[cs]=Nové přihlášení v okně
Name[da]=Nyt logind i et vindue
Name[de]=In einem Fenster neu anmelden
Name[dz]=སྒོ་སྒྲིག་ཅིག་ནང་ ནང་བསྐྱོད་གསརཔ
Name[el]=Νέα είσοδος σε παράθυρο
Name[en_CA]=New Login in a Window
Name[en_GB]=New Login in a Window
Name[es]=Nuevo acceso en una ventana
Name[et]=Uus sisselogimine aknas
Name[eu]=Saio berria leiho batean
Name[fi]=Uusi kirjautuminen ikkunassa
Name[fr]=Nouvelle connexion dans une fenêtre
Name[ga]=Logáil Isteach Nua i bhFuinneog
Name[gl]=Novo inicio de sesión nunha ventá
Name[gu]=વિન્ડોમાં નવો પ્રવેશ
Name[hi]=विंडो में नया लॉगइन
Name[hu]=Új bejelentkezés egy ablakban
Name[it]=Nuovo accesso in una finestra
Name[ja]=ウィンドウから新しいログイン
Name[kn]=ಒಂದು ವಿಂಡೋದಲ್ಲಿ ಹೊಸ ಪ್ರವೇಶ
Name[ko]=창에서 새로 로그인
Name[lt]=Naujas prisijungimas lange
Name[mk]=Ново најавување во прозорец
Name[ml]=ജാലകത്തില്‍ ഉളള പുതിയ ലോഗിന്‍
Name[nb]=Ny innlogging i et vindu
Name[ne]=सञ्झ्यालमा नयाँ लगइन
Name[nl]=Aanmelden in een venster
Name[nn]=Ny innlogging i eit vindauge
Name[or]=ଗୋଟିଏ ୱିଣ୍ଡୋରେ ନୂତନ ଲଗଇନ
Name[pa]=ਇੱਕ ਵਿੰਡੋ ਵਿੱਚ ਨਵਾਂ ਲਾਗਇਨ
Name[pl]=Nowe logowanie w oknie
Name[pt]=Nova Sessão numa Janela
Name[pt_BR]=Nova Sessão em uma Janela
Name[ro]=Autentificare nouă într-o fereastră
Name[ru]=Новый сеанс во встроенном окне
Name[sk]=Nové prihlásenie v okne
Name[sl]=Nova prijava v oknu
Name[sq]=Login i ri në një dritare
Name[sv]=Ny inloggning i ett fönster
Name[ta]=சாளரத்தில் புதிய நுழைவு
Name[te]=ఒక గవాక్షం లో కొత్త ప్రవేశద్వారం
Name[th]=การเข้าระบบใหม่ในหน้าต่าง
Name[tr]=İçiçe Perncerede Yeni Giriş
Name[uk]=Новий сеанс у вікні
Name[vi]=Đăng nhập mới trong cửa sổ
Name[zh_CN]=窗口中的新登录
GenericName=New Login in a Window
GenericName[ar]=ولوج جديد في نافذة
GenericName[bg]=Ново влизане в прозорец
GenericName[bn]=উইন্ডোর মধ্যে নতুন লগ-ইন
GenericName[bn_IN]=উইন্ডোর মধ্যে নতুন লগ-ইন
GenericName[ca]=Nova entrada a una finestra
GenericName[cs]=Nové přihlášení v okně
GenericName[da]=Nyt logind i et vindue
GenericName[de]=In einem Fenster neu anmelden
GenericName[dz]=སྒོ་སྒྲིག་ཅིག་ནང་ ནང་བསྐྱོད་གསརཔ
GenericName[el]=Νέα είσοδος σε παράθυρο
GenericName[en_CA]=New Login in a Window
GenericName[en_GB]=New Login in a Window
GenericName[es]=Nuevo acceso en una ventana
GenericName[et]=Uus sisselogimine aknas
GenericName[eu]=Saio berria leiho batean
GenericName[fi]=Uusi kirjautuminen ikkunassa
GenericName[fr]=Nouvelle connexion dans une fenêtre
GenericName[ga]=Logáil Isteach Nua i bhFuinneog
GenericName[gl]=Novo inicio de sesión nunha ventá
GenericName[gu]=વિન્ડોમાં નવો પ્રવેશ
GenericName[hi]=विंडो में नया लॉगइन
GenericName[hu]=Új bejelentkezés egy ablakban
GenericName[it]=Nuovo accesso in una finestra
GenericName[ja]=ウィンドウから新しいログイン
GenericName[kn]=ಒಂದು ವಿಂಡೋದಲ್ಲಿ ಹೊಸ ಪ್ರವೇಶ
GenericName[ko]=창에서 새로 로그인
GenericName[lt]=Naujas prisijungimas lange
GenericName[mk]=Ново најавување во прозорец
GenericName[ml]=ജാലകത്തില്‍ ഉളള പുതിയ ലോഗിന്‍
GenericName[nb]=Ny innlogging i et vindu
GenericName[ne]=सञ्झ्यालमा नयाँ लगइन
GenericName[nl]=Aanmelden in een venster
GenericName[nn]=Ny innlogging i eit vindauge
GenericName[or]=ଗୋଟିଏ ୱିଣ୍ଡୋରେ ନୂତନ ଲଗଇନ
GenericName[pa]=ਇੱਕ ਵਿੰਡੋ ਵਿੱਚ ਨਵਾਂ ਲਾਗਇਨ
GenericName[pl]=Nowe logowanie w oknie
GenericName[pt]=Nova Sessão numa Janela
GenericName[pt_BR]=Nova Sessão em uma Janela
GenericName[ro]=Autentificare nouă într-o fereastră
GenericName[ru]=Новый сеанс во встроенном окне
GenericName[sk]=Nové prihlásenie v okne
GenericName[sl]=Nova prijava v oknu
GenericName[sq]=Login i ri në një dritare
GenericName[sv]=Ny inloggning i ett fönster
GenericName[ta]=சாளரத்தில் புதிய நுழைவு
GenericName[te]=ఒక గవాక్షం లో కొత్త ప్రవేశద్వారం
GenericName[th]=การเข้าระบบใหม่ในหน้าต่าง
GenericName[tr]=İçiçe Perncerede Yeni Giriş
GenericName[uk]=Новий сеанс у вікні
GenericName[vi]=Đăng nhập mới trong cửa sổ
GenericName[zh_CN]=窗口中的新登录
Comment=Login as another user in a window
Comment[ar]=لُجْ كمستخدم آخر في نافذة
Comment[bg]=Влизане в системата като друг потребител в прозорец
Comment[bn]=লগ-আউট না করে পৃথক ব্যবহারকারীরূপে উইন্ডোর মধ্যে লগ-ইন করুন
Comment[bn_IN]=লগ-আউট না করে পৃথক ব্যবহারকারীরূপে উইন্ডোর মধ্যে লগ-ইন করুন
Comment[ca]=Entreu com un usuari diferent dins d'una finestra imbricada
Comment[cs]=Přihlásit se jako jiný uživatel v okně
Comment[da]=Log ind som en anden bruger i et vindue
Comment[de]=Als anderer Benutzer in einem Fenster anmelden
Comment[dz]=སྒོ་སྒྲིག་ གཞན་ཅིག་གི་ནང་ན་ ལག་ལེན་པ་ གཞན་བཟུམ་སྦེ་ ནང་བསྐྱོད་འབད
Comment[el]=Είσοδος ως διαφορετικός χρήστης μέσα σε ένα παράθυρο
Comment[en_CA]=Log in as another user in a window
Comment[en_GB]=Log in as another user in a window
Comment[es]=Acceda como un usuario distinto dentro de una ventana
Comment[et]=Teise kasutaja alt aknas sisselogimine
Comment[eu]=Sartu beste erabiltzaile baten moduan habiaratutako leiho batean
Comment[fi]=Kirjaudu muuna käyttäjänä ikkunassa
Comment[fr]=Se connecter sous une autre identité à l'intérieur d'une fenêtre
Comment[gl]=Iniciar a sesión como outro usuario nunha ventá
Comment[gu]=વિન્ડોમાં બીજા વપરાશકર્તા તરીકે પ્રવેશ કરો
Comment[hi]=विंडो के भीतर अन्य उपयोक्ता के रूप में लॉगइन करें
Comment[hu]=Bejelentkezés más felhasználóként egy ablakban
Comment[it]=Accede come un altro utente in una finestra
Comment[ja]=任意のウィンドウから別のユーザでログインします
Comment[kn]=ಒಂದು ವಿಂಡೋದಲ್ಲಿ ಬೇರೆ ಬಳಕೆದಾರನಾಗಿ ಪ್ರವೇಶಿಸು
Comment[ko]=창에서 다른 사용자로 로그인
Comment[lt]=Prisijungti kitu naudojotu lange
Comment[mk]=Најави се како друг корисник во прозорец
Comment[ml]=ജാലകത്തില്‍ മറ്റൊരു ഉപയോക്താവായി പ്രവേശിക്കുക
Comment[nb]=Logg inn som en annen bruker i et vindu
Comment[ne]=अर्को प्रयोगकर्ताको रूपमा सञ्झ्याल भित्र लगइन गर्नुहोस्
Comment[nl]=Als een andere gebruiker aanmelden in een venster
Comment[nn]=Logg inn som ein annan brukar i eit vindauge
Comment[or]=ଗୋଟିଏ ୱିଣ୍ଡୋରେ ଅନ୍ଯ ଗୋଟିଏ ଚାଳକ ଭାବରେ ଲଗଇନ କରନ୍ତୁ
Comment[pa]=ਇੱਕ ਵਿੰਡੋ ਵਿੱਚ ਹੋਰ ਯੂਜ਼ਰ ਵਾਂਗ ਲਾਗਇਨ ਕਰੋ
Comment[pl]=Logowanie jako inny użytkownik w oknie
Comment[pt]=Iniciar sessão como outro utilizador dentro de uma janela
Comment[pt_BR]=Iniciar uma sessão como outro usuário dentro de uma janela
Comment[ro]=Autentificare cu un alt cont într-o fereastră
Comment[ru]=Войти в окне под другим пользователем
Comment[sk]=Prihlásiť sa ako iný používateľ v okne
Comment[sl]=Prijavi se kot drug uporabnik znotraj okna
Comment[sq]=Hyrje si një përdorues tjetër në një dritare
Comment[sv]=Logga in som en annan användare i ett fönster
Comment[ta]=சாளரத்தில் வேறொரு பயனராக நுழை
Comment[te]=ఒక గవాక్షం లో మరియొక వినియోగదారు లాగా ప్రవేశద్వారం
Comment[th]=เข้าระบบในนามผู้ใช้อื่นในหน้าต่าง
Comment[tr]=Diğer bir pencerede farklı kullanıcı ile giriş
Comment[uk]=Вхід як інший користувач у вікні
Comment[vi]=Đăng nhập vào cửa sổ với tên người dùng khác
Comment[zh_CN]=在窗口中以其他用户登录
TryExec=Xnest
Exec=mdmflexiserver --xnest
Icon=mdm-xnest
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=mdm
X-GNOME-Bugzilla-Component=general
