[Desktop Entry]
Encoding=UTF-8
Name=Login Photo
Name[af]=Aanmeldfoto
Name[am]=የዝምብለህ ይግባ ፎቶ
Name[ar]=صورة الولوج
Name[as]=প্ৰৱেশ'এ ব্যবহৃত ছবি
Name[az]=Giriş Rəsmi
Name[be]=Фота для MDM
Name[bg]=Снимка за влизане в системата
Name[bn]=লগ-ইন'এ ব্যবহৃত ছবি
Name[bn_IN]=লগ-ইন'এ ব্যবহৃত ছবি
Name[bs]=Slika za prijavu
Name[ca]=Foto d'entrada
Name[cs]=Přihlašovací fotografie
Name[cy]=Ffoto Mewngofnodi
Name[da]=Logind-foto
Name[de]=Anmeldefoto
Name[dz]=པར་ལུ་ནང་བསྐྱོད་འབད།
Name[el]=Φωτογραφία εισόδου
Name[en_CA]=Login Photo
Name[en_GB]=Login Photo
Name[es]=Foto de entrada
Name[et]=Sisselogimise foto
Name[eu]=Saio-hasierako argazkia
Name[fa]=عکس ورود به سیستم
Name[fi]=Kirjautumiskuva
Name[fr]=Photo de connexion
Name[gl]=Fotografía para o inicio de sesión
Name[gu]=પ્રવેશની છબી
Name[he]=תמונת התחברות
Name[hi]=लॉगइन छवि
Name[hr]=Slika za prijavu
Name[hu]=Bejelentkező fotó
Name[hy]=Մուտքի Նկար
Name[id]=Foto Login
Name[it]=Foto per l'accesso
Name[ja]=ログインの写真
Name[ka]=შესვლის ფოტო
Name[kn]=ಪ್ರವೇಶ ಚಿತ್ರ
Name[ko]=로그인 사진
Name[ku]=Wêneyê Têketinê
Name[lt]=Prisijungimo nuotrauka
Name[lv]=Pieteikšanās Foto
Name[mg]=Sarin'ny fidirana
Name[mk]=Слика за најава
Name[ml]=ലോഗിന്‍ ഫോട്ടോ
Name[mn]=Бүртгүүлэх фото зураг
Name[mr]= प्रवेश करण्याचे छायाचित्र
Name[ms]=Foto Logmasuk
Name[nb]=Påloggingsbilde
Name[ne]=फोटो लगइन गर्नुहोस्
Name[nl]=Aanmeldfoto
Name[nn]=Innloggingsbilete
Name[nso]=Senepe sa go Tsena
Name[or]=ଲଗଇନ ଫଟୋ
Name[pa]=ਲਾਗਇਨ ਫੋਟੋ
Name[pl]=Fotografia użytkownika
Name[pt]=Fotografia de Sessão
Name[pt_BR]=Foto do Navegador de Faces
Name[ro]=Imagine autentificare
Name[ru]=Регистрационная фотография
Name[si]=පිවිසුම් පිංතුරය
Name[sk]=Fotografia pre prihlásenie
Name[sl]=Prijavna fotografija
Name[sq]=Fotografia e login
Name[sr]=Слика за пријаву
Name[sr@Latn]=Slika za prijavu
Name[sv]=Inloggningsfoto
Name[ta]=உள்நுழைவு புகைப்படம்
Name[te]=ప్రవేశద్వారం చిత్రం
Name[th]=รูปภาพเข้าระบบ
Name[tr]=Giriş Fotoğrafı
Name[uk]=Фотографія входу
Name[vi]=Ảnh đăng nhập
Name[wa]=Foto d' elodjaedje
Name[xh]=iFoto yokuNgena
Name[zh_CN]=登录照片
Name[zh_HK]=登入樣貌
Name[zh_TW]=登入樣貌
Name[zu]=Isithombe Sokungena
GenericName=Login Photo
GenericName[af]=Aanmeldfoto
GenericName[am]=የዝምብለህ ይግባ ፎቶ
GenericName[ar]=صورة الولوج
GenericName[as]=প্ৰৱেশ'এ ব্যবহৃত ছবি
GenericName[az]=Giriş Rəsmi
GenericName[be]=Фота для MDM
GenericName[bg]=Снимка за влизане в системата
GenericName[bn]=লগ-ইন'এ ব্যবহৃত ছবি
GenericName[bn_IN]=লগ-ইন'এ ব্যবহৃত ছবি
GenericName[bs]=Slika za prijavu
GenericName[ca]=Foto d'entrada
GenericName[cs]=Přihlašovací fotografie
GenericName[cy]=Ffoto Mewngofnodi
GenericName[da]=Logind-foto
GenericName[de]=Anmeldefoto
GenericName[dz]=པར་ལུ་ནང་བསྐྱོད་འབད།
GenericName[el]=Φωτογραφία εισόδου
GenericName[en_CA]=Login Photo
GenericName[en_GB]=Login Photo
GenericName[es]=Foto de entrada
GenericName[et]=Sisselogimise foto
GenericName[eu]=Saio-hasierako argazkia
GenericName[fa]=عکس ورود به سیستم
GenericName[fi]=Kirjautumiskuva
GenericName[fr]=Photo de connexion
GenericName[gl]=Fotografía para o inicio de sesión
GenericName[gu]=પ્રવેશની છબી
GenericName[he]=תמונת התחברות
GenericName[hi]=लॉगइन छवि
GenericName[hr]=Slika za prijavu
GenericName[hu]=Bejelentkező fotó
GenericName[hy]=Մուտքի Նկար
GenericName[id]=Foto Login
GenericName[it]=Foto per l'accesso
GenericName[ja]=ログインの写真
GenericName[ka]=შესვლის ფოტო
GenericName[kn]=ಪ್ರವೇಶ ಚಿತ್ರ
GenericName[ko]=로그인 사진
GenericName[ku]=Wêneyê Têketinê
GenericName[lt]=Prisijungimo nuotrauka
GenericName[lv]=Pieteikšanās Foto
GenericName[mg]=Sarin'ny fidirana
GenericName[mk]=Слика за најава
GenericName[ml]=ലോഗിന്‍ ഫോട്ടോ
GenericName[mn]=Бүртгүүлэх фото зураг
GenericName[mr]= प्रवेश करण्याचे छायाचित्र
GenericName[ms]=Foto Logmasuk
GenericName[nb]=Påloggingsbilde
GenericName[ne]=फोटो लगइन गर्नुहोस्
GenericName[nl]=Aanmeldfoto
GenericName[nn]=Innloggingsbilete
GenericName[nso]=Senepe sa go Tsena
GenericName[or]=ଲଗଇନ ଫଟୋ
GenericName[pa]=ਲਾਗਇਨ ਫੋਟੋ
GenericName[pl]=Fotografia użytkownika
GenericName[pt]=Fotografia de Sessão
GenericName[pt_BR]=Foto do Navegador de Faces
GenericName[ro]=Imagine autentificare
GenericName[ru]=Регистрационная фотография
GenericName[si]=පිවිසුම් පිංතුරය
GenericName[sk]=Fotografia pre prihlásenie
GenericName[sl]=Prijavna fotografija
GenericName[sq]=Fotografia e login
GenericName[sr]=Слика за пријаву
GenericName[sr@Latn]=Slika za prijavu
GenericName[sv]=Inloggningsfoto
GenericName[ta]=உள்நுழைவு புகைப்படம்
GenericName[te]=ప్రవేశద్వారం చిత్రం
GenericName[th]=รูปภาพเข้าระบบ
GenericName[tr]=Giriş Fotoğrafı
GenericName[uk]=Фотографія входу
GenericName[vi]=Ảnh đăng nhập
GenericName[wa]=Foto d' elodjaedje
GenericName[xh]=iFoto yokuNgena
GenericName[zh_CN]=登录照片
GenericName[zh_HK]=登入樣貌
GenericName[zh_TW]=登入樣貌
GenericName[zu]=Isithombe Sokungena
Comment=Change the picture that will show in the MDM (login manager) face browser
Comment[af]=Verander die prent wat gewys sal word in die MDM (aanmeldingsbestuurder) oppervlakblaaier
Comment[ar]=غيّر الصورة التي ستظهر في متصفح الوجوه لـ م‌ع‌ج (مدير الولوج)
Comment[as]=MDM (প্ৰৱেশ পৰিচালন ব্যবস্থা) ফেস ব্ৰাউজাৰে প্ৰদৰ্শনযোগ্য ছবি পৰিবৰ্তন কৰক
Comment[az]=MDM-də göstəriləcək şəkilinizi sifət səyyahından seçin. 
Comment[be]=Дыялёг зьмены карцінкі, якая будзе адлюстраваная на праглядальніке мэнаджара ўваходу MDM
Comment[bg]=Промяна на картинката, която ще бъде показвана в лентата за лица на MDM
Comment[bn]=MDM (লগ-ইন পরিচালন ব্যবস্থা) ফেস ব্রাউজারে প্রদর্শনযোগ্য ছবি পরিবর্তন করুন
Comment[bn_IN]=MDM (লগ-ইন পরিচালন ব্যবস্থা) ফেস ব্রাউজারে প্রদর্শনযোগ্য ছবি পরিবর্তন করুন
Comment[bs]=Promijenite sliku koja se prikazuje u MDM-ovom (upravitelj prijava) biraÄŤu lica
Comment[ca]=Canvieu la imatge que apareixerà al navegador de cares del gestor d'entrada
Comment[cs]=Změní obrázek, který bude zobrazen v prohlížeči seznamu uživatelů programu MDM (správci přihlášení)
Comment[cy]=Newid y llun a wnaiff ymddangos ym mhorwr wyneb MDM (rheolydd mewngofnodi)
Comment[da]=Vælg det billede som bliver vist i logind-programmets ansigtsvælger
Comment[de]=Das Bild ändern, das im Benutzeralbum MDMs (des Anmeldemanagers) angezeigt werden soll
Comment[dz]=ཇི་ཌི་ཨེམ་(ནང་བསྐྱོད་འཛིན་སྐྱོང་པ) བཀོད་རྣམ་བརའུ་ཟར་ནང་ ཐོན་ནིའི་པར་དེ་ བསྒྱུར་བཅོས་འབད།
Comment[el]=Αλλαγή εικόνας που θα φαίνεται στο φυλλομετρητή προσώπων του MDM
Comment[en_CA]=Change the picture that will show in the MDM (login manager) face browser
Comment[en_GB]=Change the picture that will show in the MDM (login manager) face browser
Comment[es]=Cambia la imagen que se mostrará en el visor de rostros de MDM (gestor de entrada)
Comment[et]=Sisselogimishalduri (MDM) näosirvijas näidatava pildi vahetamine
Comment[eu]=MDMren (saioa hasteko kudeatzailea) aurpegi-arakatzailean agertuko den irudia aldatzen du
Comment[fa]=تغییر عکسی که در مرورگر چهرهٔ MDM (مدیر ورود به سیستم) نشان داده می‌شود
Comment[fi]=Aseta kuva, joka näytetään MDM:n (kirjautumisohjelman) kasvoselaimessa
Comment[fr]=Modifier l'image qui sera affichée dans le navigateur de figures du gestionnaire de connexions MDM
Comment[gl]=Cambiar a imaxe que se mostrará no navegador de faces do MDM (xestor de inicio de sesión)
Comment[gu]=આ ચિત્ર બદલો કે જે MDM (પ્રવેશ પ્રક્રિયા સંચાલક) ફૅસ બ્રાઉઝરમાં દર્શાવાશે
Comment[he]=שנה את התמונה שתופיע בדפדפן הפנים של MDM (מנהל ההתחברות)
Comment[hi]=छवि बदलें जो जीडीएम (लॉगइन प्रबंधक) फेस ब्राउज़र में दिखता है. 
Comment[hr]=Promijenite sliku koja se prikazuje u MDMovom (menadžeru prijava) biraču lica
Comment[hu]=A MDM (bejelentkezés-kezelő) arcképböngészőjében látható arckép megváltoztatása
Comment[id]=Ganti gambar yang akan muncul pada pemilih wajah MDM (manajer login)
Comment[it]=Seleziona l'immagine da utilizzare nell'elenco dei volti di MDM
Comment[ja]=MDM フェイス・ブラウザに表示する画像を変更します
Comment[kn]=MDM (ಪ್ರವೇಶ ವ್ಯವಸ್ಥಾಪಕ) ಚಹರೆ ವೀಕ್ಷಕದಲ್ಲಿ ತೋರಿಸಲಾಗುವ ಚಿತ್ರವನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=MDM(로그인 관리자) 얼굴 찾아보기에서 나타나는 사진을 바꿉니다
Comment[lt]=Pakeisti paveikslėlį, kuris bus rodomas MDM (prisijungimo valdyklės) veidų naršyklėje
Comment[lv]=Uzstādiet bildi, kura tiks parādīta MDM (pieteikumu pārvaldnieka) seju pārlūkā
Comment[mg]=Manova ny sary izay miseho eo amin'ny mpizaha tava an'ny MDM (mpandrindra fidirana)
Comment[mk]=Смени ја сликата што ќе биде во прегледувачот на фаци
Comment[ml]=MDM (ലോഗിന്‍ മാനേജര്‍) ഫെയിസ് ബ്രൌസറില്‍ കാണിക്കുന്ന ചിത്രം മാറ്റുക
Comment[mn]=MDM (хандалтын менежер)-ээс нүүрийн хөтчийн харуулах зургийг өөрчлөх
Comment[mr]= mdm (प्रवेश व्यवस्थापक)मधील संचारकात दाखविले जाणारे चित्र बदला 
Comment[ms]=Tukar gambar yang akan dipaparkan dalam pelayar muka MDM (pengendali logmasuk)
Comment[nb]=Endre bildet som skal vises i MDM's (innloggingshåndtererens) ansiktsviser
Comment[ne]=MDM (लग-इन प्रबन्धक ) फेस ब्राउजरमा देखाइने तस्वीर परिवर्तन गर्नुहोस् ।
Comment[nl]=Kies de foto die in de gezichtenlijst van GNOME Aanmeldbeheer komt te staan
Comment[nn]=Endra biletet som vert vist i fotolista i MDM (innloggingshandsamaren)
Comment[nso]=Fetola seswantšho seo se tla bontšhago go sefetleki sa sefahlego sa MDM (molaodi wa go tsena)
Comment[pa]=ਤਸਵੀਰ ਬਦਲੋ, ਜਿਹੜੀ MDM ਚਿਹਰਾ ਝਲਕ ਵਿੱਚ ਵਿਖਾਈ ਜਾਵੇਗੀ (ਲਾਗਇਨ ਮੈਨੇਜਰ)
Comment[pl]=Ustawienie obrazu, który będzie wyświetlany przez MDM w przeglądarce obrazów twarzy
Comment[pt]=Alterar a imagem que será apresentada no navegador de faces MDM (gestor de sessões)
Comment[pt_BR]=Mudar a figura que será apresentada no navegador de faces do MDM (gerenciador de sessões)
Comment[ro]=Schimbați imaginea care apare în MDM la autentificare
Comment[ru]=Диалог изменения картинки, которая будет показана на доске портретов менеджера входа MDM
Comment[sk]=Nastaví obrázok, ktorý sa zobrazí v prehliadači tvárí MDM (správca displeja)
Comment[sl]=Spremeni sliko, ki se bo kazala v brskalniku obrazov MDM (MDM je upravitelj prijav). 
Comment[sq]=Ndrysho foton që do të shfaqet në shfletuesin e faqeve të MDM (manazhuesi i login)
Comment[sr]=Промените слику која се приказује у изборнику лица Гномовог управника пријаве
Comment[sr@Latn]=Promenite sliku koja se prikazuje u izborniku lica Gnomovog upravnika prijave
Comment[sv]=Ändra den bild som kommer att visas i MDM:s (inloggningshanterarens) ansiktsbläddrare
Comment[ta]=ஜிடிஎம் (நுழை மேலாளர்) இல் காண்பிக்கப் படும் முக உலாவி புகைப்படத்தை மாற்று
Comment[te]=జిడియం (ప్రవేశద్వారం నిర్వాహకి) ముఖ అన్వేషిలో చూపబడు చిత్రమును మార్చుము
Comment[th]=เปลี่ยนรูปภาพที่จะใช้แสดงในหน้าต่างแสดงผู้ใช้ของ MDM (โปรแกรมจัดการการเข้าระบบ) 
Comment[tr]=MDM (giriş yöneticisi) yüz tarayıcısında gösterilecek resmi değiştir
Comment[uk]=Встановлює зображення, що відображатиметься у переглядачі портретів MDM
Comment[vi]=Thay đổi ảnh dùng để hiển thị trong trình duyệt chân dung MDM.
Comment[wa]=Candjî l' imådje ki srè håynêye dins l' foyteuse di MDM (manaedjeu d' elodjaedje)
Comment[xh]=Tshintsha umfanekiso oyakubonisa i-MDM (umphathi wokungena) isikhangeli sobuso
Comment[zh_CN]=改变将显示在 MDM (登录管理器) 的头像浏览器中的照片
Comment[zh_HK]=更改在 MDM（登入管理員）樣貌瀏覽程式中顯示的樣貌
Comment[zh_TW]=變更在 MDM（登入管理員）樣貌瀏覽程式中顯示的樣貌
Comment[zu]=Shintsha isithombe esizoboniswa kuMDM (umphathi womngenisi) isiyaluzi esibonakalayo
TryExec=mdmphotosetup
Exec=mdmphotosetup
Icon=mdm-login-photo
StartupNotify=true
NoDisplay=true
Terminal=false
Type=Application
NotShowIn=GNOME;
Categories=GNOME;GTK;Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=mdm
X-GNOME-Bugzilla-Component=general
