#!/bin/sh
# Debian mdm package configuration script
# Copyright 2000-2001 Branden Robinson.
# Licensed under the GNU General Public License, version 2.  See the file
# /usr/share/common-licenses/GPL or <http://www.gnu.org/copyleft/gpl.txt>.

set -e

# source debconf library
. /usr/share/debconf/confmodule

THIS_PACKAGE=mdm
DEFAULT_DISPLAY_MANAGER_FILE=/etc/X11/default-display-manager

# update old mdm/daemon_name path
db_set mdm/daemon_name /usr/sbin/mdm

# set default display manager
OLD_DEFAULT=

db_metaget shared/default-x-display-manager owners
OWNERS="$RET"
db_metaget shared/default-x-display-manager choices
CHOICES="$RET"

if [ "$OWNERS" != "$CHOICES" ]; then
  db_subst shared/default-x-display-manager choices $OWNERS
  db_fset shared/default-x-display-manager seen false
fi

if [ -e "$DEFAULT_DISPLAY_MANAGER_FILE" ]; then
  OLD_DAEMON="$(grep -v '^[[:space:]]*#' \
                            "$DEFAULT_DISPLAY_MANAGER_FILE" |
                            head -n 1)"
  OLD_DEFAULT="$(basename $OLD_DAEMON 2>/dev/null || true)"
  if [ -n "$OLD_DEFAULT" ]; then
    db_set shared/default-x-display-manager "$OLD_DEFAULT"
  fi
else
  if db_get shared/default-x-display-manager; then
    OLD_DEFAULT="$RET"
  fi
fi

db_input high shared/default-x-display-manager || true
db_go

# using this display manager?
db_get shared/default-x-display-manager
CURRENT_DEFAULT="$RET"
# remove the default display manager file if we're going to change it
if [ -e "$DEFAULT_DISPLAY_MANAGER_FILE" ]; then
  if [ "$OLD_DEFAULT" != "$CURRENT_DEFAULT" ] ||
     [ "$OLD_DAEMON" = /usr/bin/mdm ]; then
    mv $DEFAULT_DISPLAY_MANAGER_FILE $DEFAULT_DISPLAY_MANAGER_FILE.dpkg-tmp
  fi
fi

exit 0
