[Desktop Entry]
Encoding=UTF-8
Name=Common Desktop Environment (CDE)
Name[ar]=بيئة المكتب العامة  ب‌م‌ع (CDE)
Name[bg]=Обща графична среда (CDE)
Name[bn]=Common Desktop Environment (CDE)
Name[bn_IN]=Common Desktop Environment (CDE)
Name[ca]=Entorn d'Escriptori Comú (CDE)
Name[cs]=Common Desktop Environment (CDE)
Name[da]=Common Desktop Environment (CDE)
Name[de]=Common Desktop Environment (CDE)
Name[dz]=སྤྱིར་གཏང་ཌེཀསི་ཊོབ་མཐའ་འཁོར (CDE)
Name[el]=Common Desktop Environment (CDE)
Name[en_CA]=Common Desktop Environment (CDE)
Name[en_GB]=Common Desktop Environment (CDE)
Name[es]=Common Desktop Environment (CDE)
Name[et]=Common Desktop Environment (CDE)
Name[eu]=Mahaigaineko Ingurune Amankomuna (CDE)
Name[fi]=Common Desktop Environment (CDE)
Name[fr]=Common Desktop Environment (CDE)
Name[gl]=Common Desktop Environment (CDE)
Name[gu]=Common Desktop Environment (CDE)
Name[hi]=कॉमन डेस्कटॉप इनवायरांमेंट (CDE)
Name[hu]=Common Desktop Environment (CDE)
Name[it]=Common Desktop Environment (CDE)
Name[ja]=共通デスクトップ環境 (CDE)
Name[kn]=ಸಾಮಾನ್ಯ ಗಣಕತೆರೆ ವಾತಾವರಣ (CDE)
Name[ko]=Common Desktop Environment (CDE)
Name[lt]=Common Desktop Environment (CDE)
Name[mk]=Common Desktop Environment (CDE)
Name[ml]=കോമണ്‍ ഡസ്ക്ടോപ്പ് എന്‍വിറോണ്‍മെന്‍റ് (CDE)
Name[nb]=Common Desktop Environment (CDE)
Name[ne]=साझा डेस्कटप वातावरण (सीडीई)
Name[nl]=Common Desktop Environment (CDE)
Name[nn]=Common Desktop Environment (CDE)
Name[or]=ସାଧାରଣ ଡେସ୍କଟପ ପରିବେଶ (ସି.ଡି.ଇ.)
Name[pa]=ਕਾਮਨ ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮਿੰਟ (CDE)
Name[pl]=Common Desktop Environment (CDE)
Name[pt]=Ambiente de Trabalho Comum (CDE)
Name[pt_BR]=Common Desktop Environment (CDE)
Name[ro]=Mediu desktop CDE
Name[ru]=Общая рабочая среда (CDE)
Name[sk]=Common Desktop Environment (CDE)
Name[sl]=Običajno namizno okolje (CDE)
Name[sq]=Common Desktop Environment (CDE)
Name[sv]=Common Desktop Environment (CDE)
Name[ta]=பொது மேல்மேசை சூழல் (CDE)
Name[te]=ఉమ్మడి గవాక్ష ఆవరణ (సిడిఇ)
Name[th]=Common Desktop Environment (CDE)
Name[tr]=Ortak Masaüstü Ortamı - Common Desktop Environment (CDE)
Name[uk]=Загальне робоче середовище (CDE)
Name[uz]=Umumiy ish stoli muhiti (CDE)
Name[uz@cyrillic]=Умумий иш столи муҳити (CDE)
Name[vi]=Môi trường làm việc chung (CDE)
Name[zh_CN]=公共桌面环境(CDE)
Comment=This session logs you into CDE
Comment[af]=Hierdie sessie meld jou aan by CDE
Comment[ar]=تسجلك هذه الجلسة في ب‌م‌ع
Comment[as]=এই অধিবেশনে আপোনাক CDE ত প্ৰৱেশ কৰিব
Comment[az]=Bu iclas sizi CDE-yə daxil edəcəkdir
Comment[be]=Гэтая сэсыя завядзе вас у CDE
Comment[bg]=Тази сесия включва CDE
Comment[bn]=এই সেশানে CDE'তে লগ-ইন করা হবে
Comment[bn_IN]=এই সেশানে CDE'তে লগ-ইন করা হবে
Comment[bs]=Ova Vas sesija prijavljuje u CDE
Comment[ca]=Amb aquesta sessió accedireu al CDE
Comment[cs]=Toto sezení vás přihlásí do CDE
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i CDE
Comment[da]=Denne session logger dig på CDE
Comment[de]=Diese Sitzung meldet Sie an CDE an
Comment[dz]=ལཱ་ཡུན་འདི་གིས་ ཁྱོད་སི་ཌི་ཨི་ལུ་ ནང་བསྐྱོད་འབདཝ་ཨིན།
Comment[el]=Αυτή η συνεδρία σας εισάγει στο CDE
Comment[en_CA]=This session logs you into CDE
Comment[en_GB]=This session logs you into CDE
Comment[es]=Con esta sesión accede a CDE
Comment[et]=See seanss logib sind CDE keskkonda
Comment[eu]=Saio honen bidez CDEn sartuko zara
Comment[fa]=این نشست شما را وارد CDE می‌کند
Comment[fi]=Tämä istunto kirjaa sisään CDE:hen
Comment[fr]=Cette session vous connectera dans CDE
Comment[gl]=Inicia unha sesión en CDE
Comment[gu]=આ સત્ર તમને CDE માં પ્રવેશ આપશે
Comment[he]=תצורת הפעלה זו מחברת אותך ל CDE
Comment[hi]=यह सत्र आपको सीडीई में लॉग करेगा
Comment[hr]=Ova sesija vas prijavljuje na CDE
Comment[hu]=Ez a környezet a CDE-be jelentkezteti be
Comment[id]=Pada sesi ini Anda masuk dengan menggunakan CDE
Comment[it]=Sessione di lavoro con CDE
Comment[ja]=CDE のセッションにログインします
Comment[ka]=ეს სესია შეგიყვანთ CDE-ში
Comment[kn]=ಈ ಅಧಿವೇಶನ ನಿಮ್ಮನ್ನು CDE ಗೆ ಪ್ರವೇಶವನ್ನು ಒದಗಿಸುತ್ತದೆ
Comment[ko]=세션에서 CDE에 로그인합니다
Comment[ku]=Bi vê rûniştinê tu dikevî CDE'yê
Comment[lt]=Šis seansas prijungia jus prie CDE
Comment[lv]=Šī sesija jūs pieslēgs CDE
Comment[mg]=Mampiditra anao anatin'ny CDE ity session ity
Comment[mk]=Оваа сесија ве најавува во CDE
Comment[ml]=ഇവിടെ നിന്നും നിങ്ങള്‍ CDE-ലേക്ക് പ്രവേശിക്കുന്നു
Comment[mn]=Энэ суултаар та  CDE руу нэвтрэнэ
Comment[mr]=हे सत्र तुम्हाला CDE मध्ये प्रवेश करू देईल
Comment[ms]=Sesi ini akan log anda  ke CDE
Comment[nb]=Denne sesjonen logger deg inn til CDE
Comment[ne]=यो सत्रले तपाईँलाई CDE मा लग गर्दछ ।
Comment[nl]=Deze sessie meldt u aan bij CDE
Comment[nn]=Denne økta loggar deg inn i CDE
Comment[nso]=Lenaneo le le go tsentšha go CDE
Comment[oc]=Aquesta session vos connectarà dins CDE
Comment[or]=ଏହି ଅଧିବେଶନ ଆପଣଙ୍କୁ ସି.ଡି.ଇ. ରେ ଲଗ କରାଇଥାଏ
Comment[pa]=ਇਹ ਸ਼ੈਸ਼ਨ ਤੁਹਾਨੂੰ CDE ਵਿੱਚ ਲਿਜਾਂਦਾ ਹੈ
Comment[pl]=Sesja logowania do CDE
Comment[pt]=Inicia uma sessão no CDE
Comment[pt_BR]=Esta sessão leva você ao ambiente CDE
Comment[ro]=Această sesiune vă autentifică în CDE
Comment[ru]=Начать сеанс CDE
Comment[sk]=Táto relácia Vás prihlási do prostredia CDE
Comment[sl]=S sejo se prijavite v CDE
Comment[sq]=Kjo seancë do t'ju fusë në CDE
Comment[sr]=Ова сесија вас пријављује на CDE
Comment[sr@Latn]=Ova sesija vas prijavljuje na CDE
Comment[sv]=Den här sessionen loggar in dig i CDE
Comment[ta]=இந்த அமர்வு CDE க்குள் உங்களை நுழைக்கும்.
Comment[te]=నీకు సిడిఇ లోకి ఈ సమకూర్పు నమోదు చేస్తుంది 
Comment[th]=วาระนี้จะนำคุณเข้าสู่ CDE
Comment[tr]=Bu oturum sizi CDE ortamına sokar
Comment[uk]=Почати сеанс CDE
Comment[uz]=CDE seansini boshlash
Comment[uz@cyrillic]=CDE сеансини бошлаш
Comment[vi]=Phiên chạy này đăng nhập bạn vào CDE
Comment[xh]=Le seshoni ikungenisa kwi-CDE
Comment[zh_CN]=此会话使您登录到 CDE
Comment[zh_HK]=本作業階段會登入 CDE
Comment[zh_TW]=本作業階段會登入 CDE
Comment[zu]=lenhlangano ukufaka kuCDE
Exec=/usr/dt/bin/Xsession
# no icon yet, only the top three are currently used
Icon=
Type=Application
