[Desktop Entry]
Encoding=UTF-8
# The names/descriptions should really be better
Name=Run Xclient script
Name[ar]=شغّل مخطوط Xclient
Name[bg]=Изпълняване на скрипт Xclient
Name[bn]=Xclient স্ক্রিপ্ট সঞ্চালন
Name[bn_IN]=Xclient স্ক্রিপ্ট সঞ্চালন
Name[ca]=Executa l'script Xclient
Name[cs]=Spustit skript Xclient
Name[da]=Kør Xclient-skript
Name[de]=Xclient-Skript ausführen
Name[dz]=ཨེགསི་ཞབས་ཏོག་སྤྱོད་མི་ཡིག་གཟུགས་གཡོག་བཀོལ་
Name[el]=Εκτέλεση δέσμης εντολών Xclient 
Name[en_CA]=Run Xclient script
Name[en_GB]=Run Xclient script
Name[es]=Ejecutar script Xclient
Name[et]=Xclient skripti käivitamine
Name[eu]=Exekutatu Xclient script-a
Name[fi]=Suorita Xclient-komentojono
Name[fr]=Lancer le script Xclient
Name[gl]=Executar script Xclient
Name[gu]=Xclient સ્ક્રિપ્ટ ચલાવો
Name[hi]=Xclient स्क्रिप्ट चलाएं
Name[hu]=Xclient parancsfájl futtatása
Name[it]=Esegue script Xclient
Name[ja]=Ｘクライアントのスクリプト起動
Name[kn]=Xclient ಸ್ಕ್ರಿಪ್ಟನ್ನು ಚಲಾಯಿಸಿ
Name[ko]=Xclient 스크립트 실행
Name[lt]=Paleisti Xclient scenarijų
Name[lv]=Palaist Xclient skriptu
Name[mk]=Изврши Xclient скрипта
Name[ml]=Xclient സ്ക്രിപ്റ്റ് പ്റവറ്‍ത്തിപ്പിക്കുക
Name[nb]=Kjør Xclient-skript
Name[ne]=Xक्लाइन्ट स्क्रिप्ट चलाउनुहोस्
Name[nl]=Xclient-script uitvoeren
Name[nn]=Køyr Xclient-skript
Name[or]=Xclient ସ୍କ୍ରିପ୍ଟ ଚଳାନ୍ତୁ
Name[pa]=Xclient ਸਕ੍ਰਿਪਟ ਚਲਾਓ
Name[pl]=Uruchom skrypt Xclient
Name[pt]=Executar script Xclient
Name[pt_BR]=Executar script Xclient
Name[ro]=Execută scriptul Xclient
Name[ru]=Выполнить скрипт Xclient
Name[sk]=Spustiť skript Xclient
Name[sl]=Zagon Xclient skripta
Name[sq]=Ekzekuto script Xclient
Name[sv]=Kör Xclient-skript
Name[ta]=எக்ஸ் சார்ந்தோன் ஸ்கிரிப்டை இயக்கவும்
Name[te]=Xబంట్రౌతు లిపి నడుపు
Name[th]=เรียกสคริปต์ Xclient
Name[tr]=Xclient betiğini çalıştır
Name[uk]=Запуск сценарію Xclient
Name[uz]=Xclient skriptini bajarish
Name[uz@cyrillic]=Xclient скриптини бажариш
Name[vi]=Chạy văn lệnh Xclient
Name[zh_CN]=运行 Xclient 脚本
Comment=This session runs the Xclients script
Comment[ar]=تشغّل هذه الجلسة مخطوط Xclient
Comment[bg]=Тази сесия изпълнява скрипта Xclient
Comment[bn]=এই সেশান দ্বারা Xclients স্ক্রিপ্ট
Comment[bn_IN]=এই সেশান দ্বারা Xclients স্ক্রিপ্ট
Comment[ca]=Aquesta sessió executa l'script d'Xclients
Comment[cs]=Toto sezení spouští skript Xclient
Comment[da]=Denne session kører Xclient-skripterne
Comment[de]=Diese Sitzung führt das Xclients-Skript aus.
Comment[dz]=འ་ནི་ལཱ་ཡུན་འདི་གིས་ ཨེགསི་ཞབས་ཏོག་སྤྱོད་མི་གི་ཡིག་གཟུགས་འདི་ གཡོག་བཀོལཝ་ཨིན་
Comment[el]=Αυτή η συνεδρία εκτελεί δέσμες εντολών των Xclients
Comment[en_CA]=This session runs the Xclients script
Comment[en_GB]=This session runs the Xclients script
Comment[es]=Esta sesión ejecuta el script Xclient
Comment[et]=See seanss käivitab Xclient skripti
Comment[eu]=Saio honek Xclients script-a exekutatzen du
Comment[fi]=Tämä istunto suorittaa Xclients-komentojonon
Comment[fr]=Cette session lancera le script Xclients
Comment[gl]=Esta sesión executa o script Xclients
Comment[gu]=આ સત્ર Xclients સ્ક્રિપ્ટ ચલાવે છે
Comment[hi]=यह सत्र Xclients स्क्रिप्ट चलाता है
Comment[hu]=Ez a környezet futtatja az Xclient parancsfájlját
Comment[it]=Questa sessione esegue lo script Xclients
Comment[ja]=このセッションはＸクライアントのスクリプトを実行します
Comment[kn]=ಈ ಅಧಿವೇಶನ Xclient ಸ್ಕ್ರಿಪ್ಟನ್ನು ಚಲಾಯಿಸುತ್ತದೆ
Comment[ko]=세션에서 Xclients 스크립트를 실행합니다
Comment[lt]=Šis seansas paleidžia Xclients scenarijų
Comment[lv]=Šajā sesijā darbojas Xclient skripts
Comment[mk]=Оваа сесија ја извршува Xclients скрипта
Comment[ml]=ഈ സെഷന്‍ Xclient സ്ക്രിപ്റ്റ് പ്റവറ്‍ത്തിപ്പിക്കുന്നു
Comment[nb]=Denne sesjonen kjører Xclient-skript
Comment[ne]=यो सत्रले Xक्लाइन्ट स्क्रिप्ट चलाउँदछ
Comment[nl]=Deze sessie draait het Xclients-script
Comment[nn]=Denne økta køyrer Xclients-skriptet
Comment[or]=ଏହି ଅଧିବେଶନ Xclients ସ୍କ୍ରିପ୍ଟକୁ ଚଳାଇଥାଏ
Comment[pa]=ਇਹ ਸ਼ੈਸ਼ਨ Xclients ਸਕ੍ਰਿਪਟ ਚਲਾਉਦਾ ਹੈ
Comment[pl]=Ta sesja uruchamia skrypt Xclients
Comment[pt]=Esta sessão executa o script Xclients
Comment[pt_BR]=Esta sessão executa o script Xclient
Comment[ro]=Această sesiune execută scriptul Xclients
Comment[ru]=Этот сеанс запускает скрипт Xclients
Comment[sk]=Táto relácia spúšťa Xclient skript
Comment[sl]=Seja zažene Xclients script
Comment[sq]=Kjo seancë ekzekuton script-in Xclient
Comment[sv]=Den här sessionen kör Xclients-skriptet
Comment[ta]=இந்த அமர்வு எக்ஸ் சார்ந்தோன் ஸ்கிரிப்டை இயக்குகிறது
Comment[te]=ఈ సమకూర్పు Xబంట్రౌతు లిపి నడుపుతుంది
Comment[th]=วาระนี้จะเรียกสคริปต์ Xclient
Comment[tr]=Bu oturum Xclients betiğini çalıştırır
Comment[uk]=Цей сеанс запускає сценарій Xclients
Comment[uz]=Ushbu seans Xclients skriptini ishga tushiradi
Comment[uz@cyrillic]=Ушбу сеанс Xclients скриптини ишга туширади
Comment[vi]=Phiên chạy này chạy văn lệnh của Xclient
Comment[zh_CN]=此会话将运行 Xclients 脚本
Exec=default
# The "default" Exec is a very special one and is handled specially in
# the Xsession script, you could also have "custom" which would just run
# "~/.xsession" directly
Icon=
Type=Application
