body { 
	background: url(bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box {	
	color: #ffffff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;	
	background-color:rgba(80,80,80,0.9);
	border-radius:5px;
	border:2px #a5a5a5 solid;
	padding:10px;
	width: 400px;
	height: 200px;
	
	font-size:13px;	
	overflow:hidden;		
}

.buttons {	
	position: relative;
	text-align: center;
	margin-top: 10px;		
}

.user-picture {
	border-radius: 5px;
	border:2px rgba(80,80,80,0.5) solid;
	width: 64px;
	height: 64px;	
	-webkit-transition: all .6s ease-in-out;
}

.session-picture {
	border-radius: 5px;
	border:2px rgba(80,80,80,0.5) solid;
	width: 24px;
	height: 24px;	
	margin-right: 5px;	
}

.language-picture {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.user-info {		
	margin-left: 50px;
	margin-top: 10px;
	text-shadow: 1px 1px 1px #000;	
	
}

.user-info:hover img{
				
}

.username {
	font-style: italic;	
}

.usergecos {
	font-weight:bold;
}

.userstatus {
	font-style: italic;
	font-size: 10px;	
}

.highlight-border img{
	-webkit-transition: all .6s ease-in-out;
}

.highlight-border:hover img{
	-webkit-transition: all .6s ease-in-out;
	border:2px #ffffff solid;
}

/*TILT*/
.tilt img{
  -webkit-transition: all 0.2s ease-in-out;     
}
 
.tilt:hover img{
  -webkit-transform: rotate(-3deg);         
}

a {color:#dedede;text-decoration:none;}      /* unvisited link */
a:hover {color:#ffffff;text-decoration:none;}  /* mouse over link */


