# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=happygnome-list.xml
Name=Happy GNOME with Browser
Name[af]=Gelukkige GNOME met Blaaier
Name[ar]=جنوم سعيد مع متصفّح
Name[as]=ব্ৰাউজাৰ সহ Happy GNOME
Name[az]=Seçicili Xöşbəxt GNOME
Name[be]=Шчасьлівы GNOME з вандроўнікам
Name[bg]=Щастлив GNOME с браузър
Name[bn]=ব্রাউজার সহ Happy GNOME
Name[bn_IN]=ব্রাউজার সহ Happy GNOME
Name[bs]=Sretni GNOME sa preglednikom
Name[ca]=Feliç GNOME amb navegador
Name[cs]=Veselé GNOME s prohlížečem
Name[cy]=GNOME Hapus gyda Phorwr
Name[da]=Glad GNOME med vælger
Name[de]=Happy-GNOME mit Benutzeralbum
Name[dz]=བརའུ་ཟར་དང་བཅས་པའི་ དགའ་ཉམས་ཅན་གྱི་ ཇི་ནོམ།
Name[el]=Happy GNOME με φυλλομετρητή
Name[en_CA]=Happy GNOME with Browser
Name[en_GB]=Happy GNOME with Browser
Name[es]=GNOME Feliz con visor
Name[et]=Õnnelik GNOME koos näosirvijaga
Name[eu]=GNOME zoriontsua arakatzailearekin
Name[fa]=گنوم خوشبخت با مرورگر
Name[fi]=Iloinen Gnome selaimella varustettuna
Name[fr]=Joyeux GNOME avec un navigateur
Name[gl]=Gnome feliz con navegador
Name[gu]=બ્રાઉઝર સાથેનુ આનંદપ્રદ જીનોમ માણો
Name[he]=GNOME שמח עם דפדפן
Name[hi]=ब्राउज़र के साथ खुश गनोम
Name[hr]=Sretni GNOME sa preglednikom
Name[hu]=Happy GNOME böngészővel
Name[id]=Selamat GNOME dengan Pencari
Name[it]=Happy GNOME con browser
Name[ja]=ハッピー GNOME とブラウザ
Name[kn]=ವೀಕ್ಷಕದೊಂದಿಗಿನ ನಗುಮೊಗದ GNOME
Name[ko]=찾아보기가 있는 해피 그놈
Name[ku]=Happy GNOME bi gerokê
Name[lt]=Laimingas GNOME su naršykle
Name[lv]=Laimīgais GNOME ar pārlūku
Name[mg]=GNOME miramirana miaraka amin'ny mpitety
Name[mk]=Среќниот GNOME со прелистувач
Name[ml]=GNOME ബ്രൌസറിനൊപ്പം ഉപയോഗിക്കുന്നതിന് ആശംസകള്‍
Name[mn]=Хөтөчтэй жаргалтай-ГНОМЕ
Name[mr]=संचारक
Name[ms]=GNOME Gembira dengan pelungsur
Name[nb]=Glad GNOME med leser
Name[ne]=ब्राउजर सहितको खुशियाली जीनोम
Name[nl]=GNOME blauw met een gezichtenlijst
Name[nn]=Glad GNOME med fotoliste
Name[nso]=GNOME ya lethabo le Sefetleki
Name[or]=ବ୍ରାଉଜର ସହିତ ନୋମକୁ ଆନନ୍ଦର ସହିତ ବ୍ଯବହାର କରନ୍ତୁ
Name[pa]=ਝਲਕਾਰੇ ਨਾਲ ਖੁਸ਼ ਗਨੋਮ
Name[pl]=Happy GNOME z przeglądarką
Name[pt]=GNOME Feliz com Navegador
Name[pt_BR]=Happy GNOME com Navegador
Name[ro]=„Happy GNOME” cu selector de fețe
Name[ru]=Счастливый GNOME с доской портретов
Name[si]=ගවේශකය සමඟ ප්‍රීතිමත් ග්නෝම්
Name[sk]=Šťastné GNOME s prehliadačom
Name[sl]=Veseli GNOME z brskalnikom
Name[sq]=Happy GNOME me Shfletues
Name[sr]=Срећан Гном са прегледником
Name[sr@Latn]=Srećan Gnom sa preglednikom
Name[sv]=Glad GNOME med bläddrare
Name[ta]=க்நோம் உலாவியுடன் மகிழ்ச்சி
Name[te]=అన్వేషి తో సంతోషమైన గ్నోమ్
Name[th]=แฮปปี้ GNOME พร้อมรายชื่อ
Name[tr]=Mutlu Tarayıcılı GNOME
Name[uk]=Веселий GNOME з переглядачем портретів
Name[vi]=GNOME hạnh phúc với Trình duyệt
Name[wa]=Djoyeus Gnome avou foyteuse
Name[xh]=i-Happy GNOME enesikhangeli
Name[zh_CN]=欢乐 GNOME 变脸王
Name[zh_HK]=Happy GNOME 加上樣貌
Name[zh_TW]=Happy GNOME 加上樣貌
Name[zu]=Injabulo yeGNOME enesiyaluzi
Description=GNOME Art variation of Circles with a Face Browser
Description[af]=GNOME Kuns variasie van Sirkels met 'n Oppervlakblaaier
Description[ar]=تعديل جنوم أرت على "دوائر" مع متصفّح وجوه
Description[as]=GNOME Art দ্বাৰা নিৰ্মিত ফেস ব্ৰাউজাৰ সহ Circles'ৰ সংস্কৰণ
Description[az]=Sifət seçicili dairələrdən əmələ gələn GNOME sənət variasiyası
Description[be]=GNOME Варыяцыі на тэму кругоў з вандроўнікам твараў
Description[bg]=Художествена вариация на темата „Кръгове“ с лента за лицата
Description[bn]=GNOME Art দ্বারা নির্মিত ফেস ব্রাউজার সহ Circles'র সংস্করণ
Description[bn_IN]=GNOME Art দ্বারা নির্মিত ফেস ব্রাউজার সহ Circles'র সংস্করণ
Description[bs]=GNOME art varijacija krugova sa preglednikom izgleda
Description[ca]=Variació de GNOME Art de Cercles amb un navegador de cares
Description[cs]=Umělecká variace GNOME s kruhy a seznamem uživatelů
Description[cy]=Amrywiad Celf GNOME o'r Cylchoedd gyda Phorwr Wyneb
Description[da]=Variation af cirkler med ansigsvælger
Description[de]=Abwandlung der »Kreise« von »GNOME Art« mit Benutzeralbum
Description[dz]=བཀོད་རྣམ་བརའུ་ཟར་ཅིག་དང་སྦྲགས་པའི་ སྒོར་ཐིག་གི་ཇི་ནོམ་རི་མོའི་འགྱུར་བ།
Description[el]=Ποικιλία κύκλων GNOME Art  με φυλλομετρητή προσώπων
Description[en_CA]=GNOME Art variation of Circles with a Face Browser
Description[en_GB]=GNOME Art variation of Circles with a Face Browser
Description[es]=Variación de GNOME Art de Círculos con un visor de rostros
Description[et]=GNOME Art variant teemast Ringid koos näosirvijaga
Description[eu]=GNOME Art, aurpegi-arakatzailea duen zirkuluen aldaera
Description[fa]=واریاسیون گنوم آرت از دایره‌ها با یک مرورگر چهره
Description[fi]=Vaihtoehtoinen rengasteema kasvoselaimen kera
Description[fr]=Variation artistique GNOME de Cercles avec un navigateur de figures
Description[gl]=Variación do tema Círculos con navegador de faces de Gnome Art
Description[gu]=ફૅસ બ્રાઉઝરની સાથે જીનોમ કલાનો વર્તુળમાં બદલાવ
Description[he]=הגירסה של GNOME Art למעגלים עם דפדפן פנים
Description[hi]=गनोम वृत्तों का कलात्मक परिवर्तन - एक फ़ेस ब्राउज़र के साथ
Description[hr]=GNOME art varijacija krugova sa preglednikom izgleda
Description[hu]=A Körök GNOME Art változata arcképböngészővel
Description[id]=Variasi Lingkaran GNOME Art dengan Face Browser
Description[it]=Variazione artistica GNOME di Cerchi con esplorazione dei volti
Description[ja]=フェイス・ブラウザ対応の "サークル" テーマの GNOME アート・バリエーション
Description[kn]=ಒಂದು ಚಹರೆ ವೀಕ್ಷಕವನ್ನು ಹೊಂದಿರುವ ವೃತ್ತಗಳನ್ನು ಹೊಂದಿದ GNOME ಕಲಾ ವೈವಿಧ್ಯತೆ
Description[ko]=얼굴 찾아보기가 있는 동그라미 그놈 아트 변종
Description[lt]=GNOME Art Apskritimų su veidų naršykle variantas
Description[lv]=GNOME Mākslinieku variācijas par Rinķiem lietotāju pārlūkam
Description[mg]=Fiovaovam-paribolana manara-kanto misy mpizaha tava an'ny GNOME
Description[mk]=GNOME уметничка варијанта на круговите
Description[mn]=Нүүр хөтөчтэй ГНОМЕ цагирагуудын уран сайхны хэлбэрүүд
Description[mr]=जिनोम
Description[ms]=Variasi Seni Bulatan GNOME dengan Pelungsur Muka
Description[nb]=GNOME kunstvariasjon av Sirkler med en ansiktsviser
Description[ne]=फेस ब्राउजरहरू सहितको वृत्तहरुको जिनोम कला भिन्नता
Description[nl]=GNOME blauw met curven en een gezichtenlijst
Description[nn]=GNOME kunstnarisk variasjon av Sirklar, med ei fotoliste
Description[nso]=Go fapana ga Dikgokolo tša Bokgabo tša GNOME ka Sefetleki sa Sefahlego
Description[or]=ଫେସ ବ୍ରାଉଜର ସହିତ ନୋମ ବ୍ରୁତରେ କଳାତ୍ମକ ପରିବର୍ତ୍ତନ
Description[pa]=ਚਿਹਰਾ ਝਲਕ ਨਾਲ ਚੱਕਰਾਂ ਦਾ ਗਨੋਮ ਕਲਾ ਬਦਲਾਓ
Description[pl]=Stworzona przez artystów GNOME odmiana motywu Okręgi z przeglądarką obrazów twarzy
Description[pt]=Arte GNOME numa variação de Círculos com um Navegador de Faces
Description[pt_BR]=GNOME Art variação do tema Circles com um Navegador de Faces
Description[ro]=Variație a temei cu cercuri având un selector de imagini utilizatori
Description[ru]=Модификация Кругов от GNOME Art с обозревателем лиц
Description[sk]=GNOME Variácia na kruhy s prehliadačom tvárí
Description[sl]=Umetniška variacija krogov GNOME z brskalnikom obrazov
Description[sq]=GNOME Art variation of Circles me një shfletues faqesh
Description[sr]=ГНОМ Art варијација Кругова са прегледањем лица
Description[sr@Latn]=GNOM Art varijacija Krugova sa pregledanjem lica
Description[sv]=GNOME-konstvariation av cirklar med en ansiktsbläddrare
Description[ta]=க்நோம் கலை வட்டத்தின் பிரிவுகள் முக உலாவியுடன்
Description[te]=ఒక ముఖ అన్వేషి తో గ్నోమ్ కళ మారుట యొక్క వృత్తములు
Description[th]=ชุดตกแต่ง "ปุ่มกลม" ในแบบของ GNOME Art พร้อมรายชื่อ
Description[tr]=Çemberlerin Yüz Tarayıcı ile GNOME Art türevi
Description[uk]=Художні варіанти з колами GNOME з переглядачем облич
Description[vi]=Biến thể nghệ thuật GNOME của vòng tròn với trình duyệt chân dung
Description[wa]=Variåcion årtistike des cekes di Gnome avou ene foyteuse di vizaedjes
Description[xh]=GNOME izaNgqa eziguqukayo zobugcisa ngesiKhangeli soBuso
Description[zh_CN]=GNOME 艺术的圆环变种，带头像浏览器
Description[zh_HK]=GNOME 版本的「圓圈」佈景主題，加上樣貌瀏覽程式
Description[zh_TW]=GNOME 版本的「圓圈」佈景主題，加上樣貌瀏覽程式
Description[zu]=GNOME ukuhlukana kwesidwebi ngezizungezo sine siyaluzi sobuso
Author=GNOME Artists
Author[af]=GNOME-kunstenaars
Author[ar]=فناني جنوم
Author[as]=GNOME প্ৰকল্পে অংশগ্ৰহণকাৰী শিল্পীবৃন্দ
Author[az]=GNOME Sənətkarları
Author[be]=Артысты GNOME
Author[bg]=Художници на GNOME
Author[bn]=GNOME প্রকল্পে অংশগ্রহণকারী শিল্পীবৃন্দ
Author[bn_IN]=GNOME প্রকল্পে অংশগ্রহণকারী শিল্পীবৃন্দ
Author[bs]=GNOME-ovi umjetnici
Author[ca]=Artistes del GNOME
Author[cs]=Umělci GNOME
Author[cy]=Artistiaid GNOME
Author[da]=GNOME-kunstnere
Author[de]=GNOME-Künstler
Author[dz]=ཇི་ནོམ་རི་མོ་མཁན།
Author[el]=GNOME Artists
Author[en_CA]=GNOME Artists
Author[en_GB]=GNOME Artists
Author[es]=Artistas de GNOME
Author[et]=GNOME'i kunstnikud
Author[eu]=GNOME Artistak
Author[fa]=هنرمندان گنوم
Author[fi]=Gnome-taiteilijat
Author[fr]=Artistes GNOME
Author[gl]=Artistas de Gnome
Author[gu]=જીનોમ કલાકારો
Author[he]=אומני GNOME
Author[hi]=गनोम कलाकार
Author[hr]=GNOMEovi umjetnici
Author[hu]=GNOME művészek
Author[id]=GNOME Artists
Author[it]=Artisti GNOME
Author[ja]=GNOME アーティスト
Author[ka]=გნომის ხელოვანები
Author[kn]=GNOME ಕಲಾವಿದರು
Author[ko]=그놈 아티스트
Author[ku]=Humermendên GNOME
Author[lt]=GNOME menininkai
Author[lv]=GNOME Mākslinieki
Author[mg]=Mpahaikanton'ny GNOME
Author[mk]=GNOME уметници
Author[ml]=GNOME കലാകാരന്‍മാര്‍
Author[mn]=ГНОМЫН урлагийнхан
Author[mr]=जिनोमचे कलाकार
Author[ms]=Artis GNOME
Author[nb]=GNOME kunstnere
Author[ne]=जीनोम कलाकारहरू
Author[nl]=GNOME Artiesten
Author[nn]=GNOME-kunstnarar
Author[nso]=Borabokgabo ba GNOME
Author[or]=ନୋମ କଳାକାର
Author[pa]=ਗਨੋਮ ਕਲਾਕਾਰ
Author[pl]=Artyści GNOME
Author[pt]=Artistas GNOME
Author[pt_BR]=Artistas do GNOME
Author[ro]=Artiștii GNOME
Author[ru]=GNOME Artists
Author[si]=ග්නෝම් කතෘන්
Author[sk]=GNOME Umelci
Author[sl]=Umetniški ustvarjalci GNOME
Author[sq]=Artistët e GNOME
Author[sr]=Гномови уметници
Author[sr@Latn]=Gnomovi umetnici
Author[sv]=GNOME-artister
Author[ta]=க்நோம் கலைஞர்கள்
Author[te]=గ్నోమ్ చిత్రకారులు
Author[th]=ศิลปิน GNOME
Author[tr]=GNOME Sanatçıları
Author[uk]=Художники GNOME
Author[vi]=Họa sĩ GNOME
Author[wa]=Årtisses di Gnome
Author[xh]=AmaGcisa e-GNOME
Author[zh_CN]=GNOME 艺术家
Author[zh_HK]=各位 GNOME 美術人員
Author[zh_TW]=各位 GNOME 美術人員
Author[zu]=Ingcweti yeGNOME
Copyright=(c) 2002 GNOME
Copyright[af]=(c) 2000 GNOME
Copyright[am]=(ም) 2002 ኖም
Copyright[ar]=(c) 2002 جنوم
Copyright[as]=(c) ২০০২ GNOME
Copyright[az]=(c) 2002 GNOME
Copyright[be]=© 2002 GNOME
Copyright[bg]=(c) 2002 GNOME
Copyright[bn]=(c) ২০০২ GNOME
Copyright[bn_IN]=(c) ২০০২ GNOME
Copyright[bs]=(c) 2002 GNOME
Copyright[ca]=© 2002 GNOME
Copyright[cs]=© 2002 GNOME
Copyright[cy]=(c) 2002 GNOME
Copyright[da]=© 2002 GNOME
Copyright[de]=© 2002 GNOME
Copyright[dz]=(འདྲ་བཤུས་དབང་ཆ) ༢༠༠༢ ཇི་ནོམ།
Copyright[el]=(c) 2002 GNOME
Copyright[en_CA]=(c) 2002 GNOME
Copyright[en_GB]=(c) 2002 GNOME
Copyright[es]=© 2002 GNOME
Copyright[et]=© 2002 GNOME
Copyright[eu]=(c) 2002 GNOME
Copyright[fa]=‏(c) 2002 GNOME
Copyright[fi]=© 2002 GNOME
Copyright[fr]=(c) 2002 GNOME
Copyright[ga]=(c) 2002 GNOME
Copyright[gl]=(c) 2002 Gnome
Copyright[gu]=(c) 2002 GNOME
Copyright[he]=(c) 2002 GNOME
Copyright[hi]=(c) 2002 गनोम
Copyright[hr]=(c) 2002 GNOME
Copyright[hu]=© 2002 GNOME
Copyright[id]=(c) 2002 GNOME
Copyright[is]=(c) 2002 GNOME
Copyright[it]=© 2002 GNOME
Copyright[ja]=(c) 2002 GNOME
Copyright[ka]=(c)·2002·გნომი
Copyright[kn]=(c) 2002 GNOME
Copyright[ko]=(c) 2002 GNOME
Copyright[ku]=(c) 2002 GNOME
Copyright[lt]=(c) 2002 GNOME
Copyright[lv]=© 2002 GNOME
Copyright[mg]=(c) GNOME 2002
Copyright[mi]=(c)·2002·GNOME
Copyright[mk]=(c) 2002 GNOME(c) 2002 GNOME
Copyright[ml]=(c) 2002 GNOME
Copyright[mn]=(c) 2002 ГНОМЕ
Copyright[mr]=२००२ जिनोम
Copyright[ms]=(c) 2002 GNOME
Copyright[nb]=© 2002 GNOME
Copyright[ne]=(c)२००२ जीनोम
Copyright[nl]=© 2002 GNOME
Copyright[nn]=© 2002 GNOME
Copyright[nso]=(c) 2002 GNOME
Copyright[oc]=(c) 2002 GNOME
Copyright[or]=(c) 2002 ନୋମ
Copyright[pa]=(c) ੨੦੦੨ ਗਨੋਮ
Copyright[pl]=(c) 2002 GNOME
Copyright[pt]=© 2002 GNOME
Copyright[pt_BR]=(c) 2002 GNOME
Copyright[ro]=© 2002 GNOME
Copyright[ru]=(c) 2002 GNOME
Copyright[si]=(c) 2002 ග්නෝම්
Copyright[sk]=(c) 2002 GNOME
Copyright[sl]=(c) 2002 GNOME
Copyright[sq]=© 2002 GNOME
Copyright[sr]=(c) 2002 ГНОМ
Copyright[sr@Latn]=(c) 2002 GNOM
Copyright[sv]=© 2002 GNOME
Copyright[ta]=(c) 2002 க்நோம்
Copyright[te]=(c) 2002 గ్నోమ్
Copyright[th]=(c) 2002 GNOME
Copyright[tr]=(c) 2002 GNOME
Copyright[uk]=(c) 2002 GNOME
Copyright[vi]=© 2005 GNOME
Copyright[wa]=© 2002 GNOME
Copyright[xh]=i-(c) 2002 GNOME
Copyright[zh_CN]=(c) 2002 GNOME
Copyright[zh_HK]=© 2002 GNOME
Copyright[zh_TW]=© 2002 GNOME
Copyright[zu]=(C) 2002 GNOME
Screenshot=screenshot.png
