# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=circles.xml
Name=Circles
Name[af]=Sirkels
Name[ar]=دوائر
Name[as]=বৃত্ত
Name[az]=Dairələr
Name[be]=Кругі
Name[bg]=Кръгове
Name[bn]=বৃত্ত
Name[bn_IN]=বৃত্ত
Name[bs]=Krugovi
Name[ca]=Cercles
Name[cs]=Kruhy
Name[cy]=Cylchoedd
Name[da]=Cirkler
Name[de]=Kreise
Name[dz]=སྒོར་ཐིག
Name[el]=Κύκλοι
Name[en_CA]=Circles
Name[en_GB]=Circles
Name[es]=Círculos
Name[et]=Ringid
Name[eu]=Zirkuluak
Name[fa]=دایره‌ها
Name[fi]=Renkaat
Name[fr]=Cercles
Name[ga]=Ciorcail
Name[gl]=Círculos
Name[gu]=વર્તુળો
Name[he]=מעגלים
Name[hi]=वृत्त
Name[hr]=Kružnice
Name[hu]=Körök
Name[id]=Circles
Name[it]=Cerchi
Name[ja]=サークル
Name[ka]=წრე
Name[kn]=ವೃತ್ತಗಳು
Name[ko]=동그라미
Name[ku]=Giloverîk
Name[lt]=Apskritimai
Name[lv]=Rinķi
Name[mg]=Faribolana
Name[mk]=Кругови
Name[ml]=വൃത്തങ്ങള്‍
Name[mn]=Цагирагууд
Name[mr]=वर्तुळे
Name[ms]=Bulatan
Name[nb]=Sirkler
Name[ne]=वृत्तहरू
Name[nl]=Zonnebloem
Name[nn]=Sirklar
Name[nso]=Dikgokolo
Name[or]=ବ୍ରୁତ
Name[pa]=ਚੱਕਰ
Name[pl]=Okręgi
Name[pt]=Círculos
Name[pt_BR]=Círculos
Name[ro]=Cercuri
Name[ru]=Круги
Name[rw]=Inziga
Name[sk]=Kruhy
Name[sl]=Krogi
Name[sq]=Rrathë
Name[sr]=Кругови
Name[sr@Latn]=Krugovi
Name[sv]=Cirklar
Name[ta]=வட்டங்கள்
Name[te]=వృత్తములు
Name[th]=ปุ่มกลม
Name[tr]=Çemberler
Name[uk]=Кола
Name[vi]=Vòng tròn
Name[wa]=Cekes
Name[xh]=iZangqa
Name[zh_CN]=圆环
Name[zh_HK]=圓圈
Name[zh_TW]=圓圈
Name[zu]=Iziyingi
Description=Theme with blue circles
Description[af]=Tema met blou sirkels
Description[ar]=سِّمة بدوائر زرقاء
Description[as]=নীল চক্ৰেৰ থীম
Description[az]=Mavi dairəli örtü
Description[be]=Тэма з блакітнымі кругамі
Description[bg]=Тема със сини кръгове
Description[bn]=নীল চক্রের থীম
Description[bn_IN]=নীল চক্রের থীম
Description[bs]=Tema sa plavim krugovima
Description[ca]=Tema amb cercles blaus
Description[cs]=Motiv s modrými kruhy
Description[cy]=Thema gyda chylchoedd glas
Description[da]=Tema med blå cirkler
Description[de]=Thema mit blauen Kreisen
Description[dz]=སྒོར་ཐིག་ཧོནམ་ཡོད་མི་ བརྗོད་དོན།
Description[el]=Θέμα με μπλε κύκλους
Description[en_CA]=Theme with blue circles
Description[en_GB]=Theme with blue circles
Description[es]=Tema con círculos azules
Description[et]=Siniste ringidega teema
Description[eu]=Gaia zirkulu urdinekin
Description[fa]=تمی با دایره‌های آبی
Description[fi]=Sinisten renkaiden teema
Description[fr]=Thème avec des cercles bleus
Description[gl]=Tema con círculos azuis
Description[gu]=વાદળી વર્તુળ વાળી થીમ
Description[he]=ערכת נושא עם מעגלים כחולים
Description[hi]=नीले वृत्तों सहित प्रसंग
Description[hr]=Tema sa plavim krugovima
Description[hu]=Téma kék körökkel
Description[id]=Tema dengan lingkaran-lingkaran biru
Description[it]=Tema con tondi blu
Description[ja]=青い円を使ったテーマです
Description[kn]=ನೀಲಿ ವೃತ್ತಗಳನ್ನು ಹೊಂದಿದ ಥೀಮ್
Description[ko]=파란색 동그라미 테마
Description[ku]=Dirbê giloverîka şîn
Description[lt]=Tema su mėlynais apskritimais
Description[lv]=Tēma ar ziliem rinķiem
Description[mg]=Endrika misy faribolana mangamanga
Description[mk]=Тема со плави кругови
Description[ml]=നീല വൃത്തങ്ങളുള്ള പ്രമേയം
Description[mn]=Цэнхэр цагираг бүхий хэлбэр
Description[mr]= निळी वर्तुळे असणारी थीम 
Description[ms]=Tema dengan bulatan biru
Description[nb]=Tema med blå sirkler
Description[ne]=नीलो वृत्तहरू सहितको विषयवस्तु
Description[nl]=Een thema met een zonnebloem
Description[nn]=Drakt med blå sirkar
Description[nso]=Sehlogo seo se nago le dikgokolo tše tala-lerata
Description[or]=ନୀଳ ବ୍ରୁତ ମାନଙ୍କ ସହିତ ପ୍ରସଙ୍ଗ
Description[pa]=ਨੀਲੇ ਚੱਕਰਾਂ ਵਾਲਾ ਥੀਮ
Description[pl]=Motyw z błękitnymi okręgami
Description[pt]=Tema com círculos azuis
Description[pt_BR]=Tema com círculos azuis
Description[ro]=Temă cu cercuri albastre
Description[ru]=Тема с синими кругами
Description[sk]=Téma s modrými kruhmi
Description[sl]=Tema z modrimi krogi
Description[sq]=Temë me rrathë blu
Description[sr]=Тема са плавим круговима
Description[sr@Latn]=Tema sa plavim krugovima
Description[sv]=Tema med blåa cirklar
Description[ta]=நீல வட்டங்களுடன் கருத்து
Description[te]=నీలంరంగు వృత్తముల తో వైవిధ్యాంశం
Description[th]=ชุดตกแต่งใช้ปุ่มกลมสีน้ำเงิน
Description[tr]=Mavi çemberli tema
Description[uk]=Тема з блакитними колами
Description[vi]=Sắc thái với vòng tròn màu xanh nước biển
Description[wa]=Tinme avou des bleus cekes
Description[xh]=Umxholo onezangqa eziluhlaza
Description[zh_CN]=带有蓝色圆环的主题
Description[zh_HK]=以藍色圓圈組成的佈景主題
Description[zh_TW]=以藍色圓圈組成的佈景主題
Description[zu]=Indikimba yezingi ezuluhlaza okwesibhakabhaka
Author=Bond, James Bond
Author[af]=Bond, James Bond
Author[am]=Bond, James Bond
Author[ar]=بوند, جايمس بوند
Author[as]=বন্ড, জেমস‌ বন্ড
Author[az]=Bond, Jeyms Bond
Author[be]=Бонд, Джэймс Бонд
Author[bg]=Бонд, Джеймс Бонд
Author[bn]=বন্ড, জেমস‌ বন্ড
Author[bn_IN]=বন্ড, জেমস‌ বন্ড
Author[bs]=Bond, James Bond
Author[ca]=Bond, James Bond
Author[cs]=Bond, James Bond
Author[cy]=Bond, James Bond
Author[da]=Bond, James Bond
Author[de]=Bond, James Bond
Author[dz]=བཱོནཌི། ཇེམསི་བཱོནཌི།
Author[el]=Bond, James Bond
Author[en_CA]=Bond, James Bond
Author[en_GB]=Bond, James Bond
Author[es]=Bond, James Bond
Author[et]=Bond, James Bond
Author[eu]=Bond, James Bond
Author[fa]=باند، جیمز باند
Author[fi]=Bond, James Bond
Author[fr]=Bond, James Bond
Author[ga]=Bond, James Bond
Author[gl]=Bond, James Bond
Author[gu]=Bond, James Bond
Author[he]=בונד, ג'יימס בונד
Author[hi]=बाण्ड, जेम्स बाण्ड
Author[hr]=Bond, James Bond
Author[hu]=Bond, James Bond
Author[id]=Bond, James Bond
Author[is]=Bond, James Bond (Jón, Jón Bóndi)
Author[it]=Bond, James Bond
Author[ja]=Bond, James Bond
Author[ka]=არმეგედონ, არმაგედონ ჩალიჩავა
Author[kn]=Bond, James Bond
Author[ko]=본드, 제임스 본드
Author[ku]=Bond, James Bond
Author[lt]=Bond, James Bond
Author[lv]=Bonds, Džeimss Bonds
Author[mg]=Bond, James Bond
Author[mk]=Бонд, Џејмс Бонд
Author[ml]=ബോണ്ട്, ജെയിംസ് ബോണ്ട്
Author[mn]=Бонд, Жеймс Бонд
Author[mr]=बांॅड, जेम्स बांॅड
Author[ms]=Bond, James Bond
Author[nb]=Bond, James Bond
Author[ne]=बोन्ड, जेम्स् बोन्ड
Author[nl]=Bond, James Bond
Author[nn]=Bond, James Bond
Author[nso]=Bond, James Bond
Author[oc]=Bond, James Bond
Author[or]=ବଣ୍ଡ, ଜେମ୍ସ ବଣ୍ଡ
Author[pa]=ਬਾਡ , ਜੇਮਜ ਬਾਡ
Author[pl]=Bond, James Bond
Author[pt]=Bond, James Bond
Author[pt_BR]=Bond, James Bond
Author[ro]=Bond, James Bond
Author[ru]=Бонд, Джеймс Бонд
Author[sk]=Bond, James Bond
Author[sl]=Bond, James Bond
Author[sq]=Bond, James Bond
Author[sr]=Бонд, Џејмс Бонд
Author[sr@Latn]=Bond, Džejms Bond
Author[sv]=Bond, James Bond
Author[ta]=பாண்ட், ஜேம்ஸ் பாண்ட்
Author[te]=బాండ్, జేంస్ బాండ్
Author[th]=Bond, James Bond
Author[tr]=Bond, James Bond
Author[uk]=Бонд, Джеймс Бонд
Author[vi]=Bond, James Bond
Author[wa]=Bond, James Bond
Author[xh]=Bond, James Bond
Author[zh_CN]=Bond, James Bond
Author[zh_HK]=Bond, James Bond
Author[zh_TW]=Bond, James Bond
Author[zu]=Bond, James Bond
Copyright=(c) 2002 Bond, James Bond
Copyright[af]=(c) 2002 Bond, James Bond
Copyright[am]=(ም) 2002 Bond, James Bond
Copyright[ar]=(c) 2002 بوند، جايمس بوند
Copyright[as]=(c) ২০০২ বন্ড, জেমস বন্ড
Copyright[az]=(c) 2002 Bond, Jeyms Bond
Copyright[be]=© 2002 Бонд, Джэймс Бонд
Copyright[bg]=(c) 2002 Бонд, Джеймс Бонд
Copyright[bn]=(c) ২০০২ বন্ড, জেমস বন্ড
Copyright[bn_IN]=(c) ২০০২ বন্ড, জেমস বন্ড
Copyright[bs]=(c) 2002 Bond, James Bond
Copyright[ca]=© 2002 Bond, James Bond
Copyright[cs]=© 2002 Bond, James Bond
Copyright[cy]=© 2002 Bond, James Bond
Copyright[da]=(c) 2002 Bond, James Bond
Copyright[de]=© 2002 Bond, James Bond
Copyright[dz]=(འདྲ་བཤུས་དབང་ཆ) ༢༠༠༠ བཱོནཌི། ཇེམསི་བཱོནཌི།
Copyright[el]=(c) 2002 Bond, James Bond
Copyright[en_CA]=(c) 2002 Bond, James Bond
Copyright[en_GB]=(c) 2002 Bond, James Bond
Copyright[es]=© 2002 Bond, James Bond
Copyright[et]=© 2002 Bond, James Bond
Copyright[eu]=(c) 2002 Bond, James Bond
Copyright[fa]=(c) 2002 Bond, James Bond
Copyright[fi]=© 2002 Bond, James Bond
Copyright[fr]=(c) 2002 Bond, James Bond
Copyright[ga]=(2) 2002 Bond, James Bond
Copyright[gl]=(c) 2002 Bond, James Bond
Copyright[gu]=(c) 2002 Bond, James Bond
Copyright[he]=(c) 2002 בונד, ג'יימס בונד
Copyright[hi]=(सी) 2002 बाण्ड, जेम्स बाण्ड
Copyright[hr]=(c) 2002 Bond, James Bond
Copyright[hu]=© 2002 Bond, James Bond
Copyright[id]=(c) 2002 Bond, James Bond
Copyright[is]=(c) 2002 Bond, James Bond (Jón, Jón Bóndi)
Copyright[it]=© 2002 Bond, James Bond
Copyright[ja]=(c) 2002 Bond, James Bond
Copyright[ka]=© 2002 ბონდი, ჯეიმს ბონდი
Copyright[kn]=(c) 2002 Bond, James Bond
Copyright[ko]=(c) 2002 본드, 제임스 본드
Copyright[ku]=(c) 2002 Bond, James Bond
Copyright[lt]=(c) 2002 Bond, James Bond
Copyright[lv]=© 2002 Bond, James Bond
Copyright[mg]=(c) 2002 Bond, James Bond
Copyright[mk]=(c) 2002 Бонд, Џејмс Бонд
Copyright[ml]=(c) 2002 ബോണ്ട്, ജെയിംസ് ബോണ്ട്
Copyright[mn]=(c) 2002 Бонд, Жеймс Бонд
Copyright[mr]=         बांॅड, जेम्स बांॅड
Copyright[ms]=(c) 2002 Bond, James Bond
Copyright[nb]=© 2002 Bond, James Bond
Copyright[ne]=(c) 2002 बोन्ड, जेम्स बोन्ड
Copyright[nl]=© 2002 Bond, James Bond
Copyright[nn]=© 2002 Bond, James Bond
Copyright[nso]=(c) 2002 Bond, James Bond
Copyright[oc]=(c) 2002 Bond, James Bond
Copyright[or]=(c) 2002 ବଣ୍ଡ, ଜେମ୍ସ ବଣ୍ଡ
Copyright[pa]=(c) ੨੦੦੨ ਬਾਡ , ਜੇਮਜ ਬਾਡ
Copyright[pl]=(c) 2002 Bond, James Bond
Copyright[pt]=© 2002 Bond, James Bond
Copyright[pt_BR]=(c) 2002 Bond, James Bond
Copyright[ro]=© 2002 Bond, James Bond
Copyright[ru]=(c) 2002 Бонд, Джеймс Бонд
Copyright[si]=(c) 2002 Bond, James Bond
Copyright[sk]=(c) 2002 Bond, James Bond
Copyright[sl]=(c) 2002 Bond, James Bond
Copyright[sq]=© 2002 Bond, James Bond
Copyright[sr]=© 2002 Бонд, Џејмс Бонд
Copyright[sr@Latn]=© 2002 Bond, Džejms Bond
Copyright[sv]=© 2002 Bond, James Bond
Copyright[ta]=(c) 2002 பாண்ட், ஜேம்ஸ் பாண்ட்
Copyright[te]=(c) 2002 బాండ్, జేంస్ బాండ్
Copyright[th]=(c) 2002 Bond, James Bond
Copyright[tr]=(c) 2002 Bond, James Bond
Copyright[uk]=(c) 2002 Бонд, Джеймс Бонд
Copyright[vi]=© 2002 Bond, James Bond
Copyright[wa]=© 2002 Bond, James Bond
Copyright[xh]=(c) 2002 Bond, James Bond
Copyright[zh_CN]=(c) 2002 Bond, James Bond
Copyright[zh_HK]=© 2002 Bond, James Bond
Copyright[zh_TW]=© 2002 Bond, James Bond
Copyright[zu]=(c) 2002 Bond, James Bond
Screenshot=screenshot.png
